{% extends 'films/layout.html' %}

{% block title %}
	<title>Страница для добавления новостей</title>

{% endblock %}

{% block content %}
    <h1>Страница для добавления новостей</h1>
    <div>
	    <h2>Форма для добавления новостей</h2>
	    <form method="post" >
         {% csrf_token %}.

		    {{ form.title }}
		    <br>
			 {{ form.short_description }}
		    <br>
             {{ form.text }}
		     <button type="submit">Добавить отзыв</button> <br>
	     </form>
		<p>{{error}}</p>
    </div>
{% endblock %}