{% extends 'films/layout.html' %}

{% block title %}
	<title>Страница для добавления новостей</title>

{% endblock %}

{% block content %}
    <h1>Страница для добавления новостей</h1>
    <div>
	    <h2>Форма для добавления новостей</h2>
	    <form method="post" >
         {% csrf_token %}.
            <input type="text" name="title" placeholder="Название фильма"> <br>
		    {{ form.title }}
		    <textarea name="short_description" placeholder="Краткое описание фильма"></textarea> <br>
             {{ form.short_description }}
		    <textarea name="text" placeholder="Отзыв"></textarea> <br>
             {{ form.text }}
		     <button type="submit">Добавить отзыв</button> <br>
	     </form>
    </div>
{% endblock %}