{% extends 'films/layout.html' %}

{% block title %}
  <title>Страница для добавления новостей</title>
{% endblock %}

{% block content %}
    <h1>Страница для добавления новостей</h1>
    <div>

            <form method="post">
         {% csrf_token %}
         {{ form.title.label }} {{ form.title }}<br>
         {{ form.short_description.label }} {{ form.short_description }}<br>
         {{ form.text.label }} {{ form.text }}<br>
         <button type="submit">Добавить новость</button>
      </form>
      {% if form.errors %}
        <p>Ошибка: {{ form.errors }}</p>
      {% endif %}
    </div>
{% endblock %}